.battle_entry {
	float: left;
	clear: both;
	width: 100%;
	border-bottom: 1px solid black;
}

.battle_header {
	margin-top: 10px;
	float: left;
	clear:both;
	font-size: 14px;
	margin-bottom: 20px;
}

.battle_body {
	float: left;
	clear:both;
	font-size: 12px;
	margin-bottom: 10px;
}