.header {
	position: relative;
	float: left;
	margin-bottom:
}

.shop_form {
	position: relative;
	clear: both;
	float: left;
	margin-top: 10px;
}

.shop_field {
	clear: both;
	float: left;
	margin-top: 10px;
}

.shop_field_title {
	float: left;
	width: 150px;
	margin-right: 10px;
	margin-top: 2px;
}

.shop_field_input {
	float: left;
}