body {
	background-color: #fff;
 	margin: 40px;
 	font-family: Lucida Grande, Verdana, Sans-serif;
 	font-size: 14px;
 	color: #4F5155;
}

input {
	padding:2px;
	
}

.validation_errors {
	color: red;
}

.introduction {

	padding-bottom: 10px;
	border-bottom: 1px solid #4F5155;
}

.login_form {
	position: relative;
	clear: both;
	float: left;
	margin-top: 10px;
}

.login_field {
	clear: both;
	float: left;
	margin-top: 10px;
}

.login_field_title {
	float: left;
	width: 100px;
	margin-right: 10px;
	margin-top: 2px;
}

.login_field_input {
	float: left;
}