body {
	background-color: #fff;
 	margin: 40px;
 	font-family: Lucida Grande, Verdana, Sans-serif;
 	font-size: 14px;
 	color: #4F5155;
}

input {
	padding:2px;
	
}

.validation_errors {
	color: red;
}

.header {
	position: relative;
	float: left
	clear: both;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #4F5155;
}